name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('dev-requirements.txt') }}
    - name: Install dependencies
      run: pip install -r dev-requirements.txt
    - name: Run tests
      run: bash ./scripts/test.sh
    - name: Run against tasks repo
      run: python task-bot.py srobo/tasks
